.idea/*
.vscode
media/
.pbundle/
.DS_Store
migrations
settings/production.py
node_modules
static
front/src/config.js
uwsgi.ini
uwsgi_app.py
names.csv
static.tar.gz

*.pyc
*.sql
*.swp
*.iml

webpack-assets.json
webpack-stats.json
npm-debug.log
