{% load i18n %}
        <ul class="pagination pull-right">
        {% if page_obj.has_previous %}
          <li><a class="prev" href="/catalog/page{{ page_obj.previous_page_number }}/{{ existed_parameters }}">&laquo;</a></li>
        {% endif %}
          <li><span>{% blocktrans with current=page_obj.number total=page_obj.paginator.num_pages %}Page {{ current }} of {{ total }}{% endblocktrans %}</span></li>
        {% if page_obj.has_next %}
          <li><a class="next" href="/catalog/page{{ page_obj.next_page_number }}/{{ existed_parameters }}">&raquo;</a></li>
        {% endif %}
        </ul>