{% load i18n %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} / {% trans 'Page Title Base' %}</title>
  <meta name="description" content="{% block meta_desc %}{% endblock %}">
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse names-nav">
    <div class="container">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".names-navbar-collapse" data-keyboard="true">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{% trans 'Navbar Title' %}</a>
      <div class="nav-collapse collapse names-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/catalog/">{% trans 'Navbar Catalog' %}</a></li>
          <li><a data-toggle="modal" href="#info">{% trans 'Navbar Info' %}</a></li>
          <li><a data-toggle="modal" href="#about">{% trans 'Navbar About' %}</a></li>
        </ul>
      </div>
    </div>
    
    <span style="position: absolute; top: 5px; left: 5px; margin-right: 5px; color: #d4dfe9;">beta</span>
  </header>
  <div class="container content">
    {% block content %}{% endblock %}
  </div>
  <div class="modals">
    <div class="modal fade" id="about">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans 'Navbar About' %}</h4>
          </div>
          <div class="modal-body">
            {% trans 'About Description' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="info">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans 'Navbar Info' %}</h4>
          </div>
          <div class="modal-body">
            {% trans 'Info Description' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ STATIC_URL }}js/libs/jquery-1.10.2.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
  <script>
    $(function(){
      $('.form-search .adv').on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        $('.advanced').toggle();
      });
    });
  </script>
  {% block extra_js %}{% endblock %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24448055-4']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22032655 = new Ya.Metrika({id:22032655, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22032655" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>