{% load i18n %}

    <form class="col-lg-6 form-search" action="/catalog/">
      <fieldset>
        {% if request.GET.startswith %}<input type="hidden" name="startswith" value="{{ request.GET.startswith }}">{% endif %}
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary adv" title="{% trans 'Search Advanced Title' %}">#</button>
          </span>
          <input type="text" name="query" class="form-control" placeholder="{% trans 'Search Placeholder' %}" {% if request.GET.query %}value="{{ request.GET.query }}"{% endif %}>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
          </span>
        </div>
        <div class="advanced">
          <div class="col-lg-6">
            <label class="checkbox-inline"><input type="checkbox" name="male" value="true" {% if request.GET.male %}checked{% endif %}>{% trans 'Search Male' %}</label>
            <label class="checkbox-inline"><input type="checkbox" name="female" value="true" {% if request.GET.female %}checked{% endif %}>{% trans 'Search Female' %}</label>
          </div>
          <div class="col-lg-6">
            <select class="form-control" name="category">
              <option value="">-</option>
              {% for category in categories %}
              <option value="{{ category.id }}"{% if current_category_id == category.id %} selected{% endif %}>{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </fieldset>
    </form>